<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net"/>
    <section name="p2p" type="PSOK.Kernel.Configuration.Config, PSOK.Kernel"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <appDomainManagerType value="PSOK.Kernel.AppDomainManager"/>
    <appDomainManagerAssembly value="PSOK.Kernel, Version=1.0.0.0, Culture=neutral"/>
  </runtime>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="PSOK.Kernel.Log4net.RollingFileAppender, PSOK.Kernel">
      <param name="DatePattern" value="yyyy.MM.dd'.log'"/>
      <file value="logs\"/>
      <appendToFile value="true"/>
      <encoding value="utf-8"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger: %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <p2p>
    <pipelines>
      <shutdown workerthreads="1">
        <processor type="PSOK.PublishSubscribe.Pipelines.Shutdown.Dispose, PSOK.PublishSubscribe"/>
      </shutdown>
    </pipelines>
    <processmodel workerthreads="1"/>
    <transport mode="http" security="true" domain="" servicedns="service.kademlia" clientdns="client.kademlia"/>
    <kademlia bucketsize="20" buckets="160" concurrency="3" parallelism="loose" nodeid="FA-FA-BA-06-1C-F8-D2-43-63-D2-46-AC-FB-77-5A-42-96-7A-10-7C">
      <dht expiration="01:00:00"/>
      <bootstrap urls="https://localhost:36400/kademlia/FA-FA-BA-06-1C-F8-D2-43-63-D2-46-AC-FB-77-5A-42-96-7A-10-7C/node" file=""/>
    </kademlia>
    <scheduling>
      <frequency>00:00:10</frequency>
      <agent type="PSOK.Kademlia.Tasks.Integrity, PSOK.Kademlia" method="Run" interval="00:10:00"></agent>
      <agent type="PSOK.Kademlia.Tasks.RefreshBuckets, PSOK.Kademlia" method="Run" interval="00:15:00"></agent>
      <agent type="PSOK.Kademlia.Tasks.Replicate, PSOK.Kademlia" method="Run" interval="00:10:00"></agent>
      <agent type="PSOK.Kademlia.Tasks.Republish, PSOK.Kademlia" method="Run" interval="00:10:00"></agent>
      <agent type="PSOK.PublishSubscribe.Tasks.KeepAlive, PSOK.PublishSubscribe" method="Run" interval="00:10:00"></agent>
      <agent type="PSOK.PublishSubscribe.Tasks.Republish, PSOK.PublishSubscribe" method="Run" interval="00:05:00"></agent>
      <agent type="PSOK.PublishSubscribe.Tasks.StatusReport, PSOK.PublishSubscribe" method="Run" interval="00:02:00"></agent>
      <agent type="PSOK.PublishSubscribe.Tasks.CheckStatusReports, PSOK.PublishSubscribe" method="Run" interval="00:05:00"/>
    </scheduling>
  </p2p>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
